.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 10px;
}
#header {
  background: #010049;
  position: sticky;
  top: 0;
  z-index: 99;
}
.header h1 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}
.header--nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.header--nav input {
  padding: 20px 80px;
  border: solid 2px white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header--nav__basket h6 {
  color: white;
}
.header--nav__admin {
  color: white;
}
.header--nav__basket {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.header--nav__admin {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header--nav__basket h5 {
  width: 20px;
  height: 20px;
  background: red;
  color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 40px;
  top: -10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
